*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.keystore

# Firebase
google-services.json

# Secrets / env
*.env
secrets.properties
